/* CORES DO BRAIXEN
#4b4b4a (cinza escuro)
#eff1f3 (branco acinzentado)
#f4de77 (amarelo)
#dc5437 (vermelho alaranjado)
#825f37 (marrom)
*/




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.blurple {
  color: #f4de77;
}

.marron{
  color: #825f37;
}


.hero{
  margin-left: auto !important;
  margin-right: auto !important;
}


.bg-base {
  background-color: #4b4b4a !important;
}

#backtotop {
  display: inline-block;
  background-color: #f4de77;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backtotop:hover {
  cursor: pointer;
  background-color: #dc5437;
}

#backtotop:active {
  background-color: #825f37;
}

#backtotop.show {
  opacity: 0.4;
  visibility: visible;
}






.navbar-item img {
  width: auto;
  height: auto;
  margin-right: 1rem;
  border-radius: 12px;
}

.navbar-item,
.navbar-link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-item:hover,
.navbar-link:hover {
  background-color: transparent !important;
  color: #f4de77 !important;
}



.navbar-item.is-tab:hover{
  background-color: transparent !important;
  border-bottom-color:#f4de77 !important;
  color: #f4de77 !important;
}



.navbar-menu {
  animation: navAnimOpen 0.2s ease-in-out;
  
}

@keyframes navAnimOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

nav,
.navbar-menu {
  background-color: #4b4b4a !important;
  
}


.navbar-item.nav-dark,
.navbar-link.nav-dark {
  color: #ff6e00 !important;
}

.navbar-item.nav-dark:hover,
.navbar-link.nav-dark:hover {
  color: #825f37 !important;
  border-bottom-color:#825f37 !important;
  
}



.navbar-item,
.navbar-link {
  color: #eff1f3 !important;
  
}

nav.nav-w {
  background: #f4de77 !important;
  
}

.nav-w {
  background: #f4de77 !important;
  
}

.mb-12 {
  margin-bottom: 6rem;
}

.mt-12 {
  margin-top: 6rem;
}
.mt-20 {
  margin-top: 6rem;
  font-size: 300%;

}

.ml-12 {
  margin-left: 12rem;
}

.mr-12 {
  margin-right: 12rem;
}

.ml-10 {
  margin-left: 8%;
}

.mr-10 {
  margin-right: 8%;
}

.img-col-ml-13 {
  margin-left: 13rem;
}

.img-col-mr-13 {
  margin-right: 13rem;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.line {
  background: #ff6e00;
  background: #ff6e00;
  width: 150px;
  height: 5px;
}

.line2 {
  background: #ff6e00;
  background: #ff6e00;
  width: 75px;
  height: 5px;
}

.line-center {
  margin: 0 auto;
}

.line.blurple {
  background: #f4de77;
}

.title {
  color: #ff6e00;
}

.title.msgbrix{
  color: #eff1f3;
}

.subtitle {
  color: #825f37;
}

.subtitle.subtexto{
  color: #eff1f3;
}



.title.lined {
  margin-bottom: 0px;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.vert-move2 {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

.button.is-blurple {
  background-color: #f4de77;
  border-color: transparent;
  color: #825f37;
}
.button.is-blurple:hover {
  background-color: #ff6e00;
  border-color: transparent;
  color: #f4de77;
}

.button.is-info {
  background-color: #f4de77;
  border-color: transparent;
  color: #825f37;
}
.button.is-info:hover {
  background-color: #ff6e00;
  border-color: transparent;
  color: #f4de77;
}


.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #ff6e00;
  color: #ff6e00;
}
.button.is-primary.is-outlined:hover {
  background-color: #ff6e00;
  border-color: transparent;
  color: #fff;
}

.comando-item {
  padding: 1rem;
  background: #eff1f3;
  border-left: 4px solid #dc5437;
  border-radius: 6px;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(10px);
  animation: aparecer 1.0s forwards;
}
@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.comando-item h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #dc5437;
}

.comando-item h4 {
  margin: 0;
  color: #ff6e00;
}

.descricao {
  margin: 0;
  color: #825f37;
}

.menu-list a.is-active {
  border-radius: 6px;
  font-weight: bold;
  background-color: #825f37;
}

.menu-list{
  margin-right: 1rem; /* Espaço entre a lista de grupos e os comandos */
  border-right: 50px solid transparent; /* "Barra" transparente opcional */
}


.comando-opcoes {
  margin-top: 0.5rem;
  padding-left: 1rem;
  list-style: disc;
  color: #825f37;
}

.comando-opcoes li {
  margin-bottom: 0.25rem;
}

.comando-opcoes strong {
  color: #825f37;
  }

.item-grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
}

.item-box {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 1rem;
  border-left: 4px solid #f4de77;
  border-radius: 6px;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  animation: aparecer 1.0s forwards;
}
@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1rem;
  align-self: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.item-image:hover {
  transform: scale(1.05);
}

.item-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}

.item-description {
  flex-grow: 1;
  margin-bottom: 0.75rem;
  color: #4a4a4a;
}

.item-prices img {
  height: 2rem;
  vertical-align: middle;
  margin-right: 4px;
}

.item-prices span {
  margin-right: 1rem;
  font-weight: bold;
  color: #363636;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}


.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 1rem;
}

.pagination .button {
  min-width: 2rem;
  text-align: center;
  transition: background-color 0.2s;
}


.config-section {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.config-section.is-active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}



#user-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}


.perfil-background {
  position: relative;
  width: 800px; /* Tamanho fixo da arte */
  height: 400px; /* Tamanho fixo da arte */
}

.avatar-container {
  position: relative;
  top: 18px;  /* Posição do avatar a 18px do topo */
  left: 18px; /* Posição do avatar a 18px da esquerda */
}

