<!--
  | Website designed by JstnLT (https://jstnlt.my.id)
  | This project is open source: https://github.com/JastinXyz/discord-bot-landing-page-web
-->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ guild.name }} - Brix The Braixen</title>
<meta name="description" content="Brix é seu amigo raposa no Discord, com uma personalidade única e cheia de charme. Ele oferece recursos de administração, diversão, economia e inteligência artificial para transformar seu servidor em uma experiência inesquecível.">
<link rel="icon" href="assets/img/BH_Braix.png" type="image/png">
<link rel="stylesheet" href="/assets/css/bulma.min.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>



<style>
  .config-section {
    display: none;
  }
  .config-section.is-active {
    display: block;
  }
</style>


<script src="/assets/js/jquery-3.6.0.js"></script>
</head>
<body>
  <script>
    fetch("/api/status")
      .then(res => res.json())
      .then(data => {
        document.getElementById("nome_completo").innerText = data.nome_completo;
      });
  </script>
<!-- Back To Top Start -->
<a id="backtotop" data-tippy-content="Voltar ao topo.">
  <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
</a>
<!-- Back To Top End -->

<!-- Navbar Start -->
<nav
  class="navbar is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
<div class="navbar-brand ml-10">
  <a class="navbar-item " href="/">
    <img  src="/assets/img/brixfront.png"/></img>
    <strong>Brix The Braixen</span></strong>

  </a>

  <a
    role="button"
    class="navbar-burger has-text-white"
    data-target="navMenu"
    aria-label="menu"
    aria-expanded="false"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a href="/" class="navbar-item is-tab">
      Inicio
    </a>
    <a href="https://docs.google.com/document/d/1sknHLpFqJZRbWG8sJHi3C-yc5yXqwmaaXOTSWxTCjKw/edit?usp=sharing" class="navbar-item is-tab">
      Termos de uso
    </a>

    <a href="/comandos" class="navbar-item is-tab">
      Comandos
    </a>
    
    <a href="/loja" class="navbar-item is-tab">
      Loja
    </a>
    <!-- 
    <a href="premium" class="navbar-item is-tab">
      Premium
    </a>
    -->
  </div>

  <div class="navbar-end">
    <a href="https://dsc.gg/braixen" class="navbar-item is-tab" target="_blank">
      <i class="fa-brands fa-discord"></i>
    </a>
    <a href="https://top.gg/bot/983000989894336592" class="navbar-item is-tab" target="_blank">
      <i class="fa-solid fa-check-to-slot"></i>
    </a>
    <a href="https://github.com/O-Braixen/Brix" class="navbar-item is-tab " target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
        




    <div class="navbar-item" id="user-dropdown">
      {% if session.user %}
        <a class="navbar-link is-flex is-align-items-center" id="user-dropdown-toggle" style="cursor: pointer;">
          <figure class="image is-32x32 mr-2">
            <img class="is-rounded" src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png?size=1024" alt="Avatar">
          </figure>
          {{ session.user.username }}
        </a>

        <!-- Tira is-flex daqui -->
        <div class="user-dropdown navbar-menu" id="user-dropdown-menu">
          <a class="navbar-item is-tab" href="/dashboard">
            <i class="fa-solid fa-table-columns mr-2"></i> Dashboard
          </a>
          <a class="navbar-item is-tab" href="/logout">
            <i class="fa-solid fa-right-from-bracket mr-2"></i> Sair
          </a>
        </div>
      {% else %}
        <div class="buttons mt-2">
          <a href="/login" class="button is-blurple">
            <strong><i class="fa-solid fa-right-to-bracket mr-2"></i> Login</strong>
          </a>
        </div>
      {% endif %}
    </div>

 



    <i class="ml-12"></i>
    </div>
  </div>
</nav>
<!-- Navbar End -->





<!-- Hero Section do Servidor -->
<section class="hero bg-base is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column mr-6 mt-12 ml-10" data-aos="fade-up">
          <p class="title msgbrix has-text-weight-bold">
            Configurando seu servidor <br><span class="mt-20 blurple">{{ guild.name }}!</span>
          </p>
          <p class="subtitle subtexto is-size-6 mt-3">
            {{ guild.description or 'Uma comunidade cheia de carisma e configurações para fazer, até descrição precisa ser adicionada ~kyu.' }}
          </p>
          <div class="buttons">
            <a href="#configsserver" class="button is-info is-medium">
              <strong><i class="fa-solid fa-gear"></i> Configurar Servidor</strong>
            </a>
            <a href="/dashboard" class="button is-primary is-medium is-outlined">
              <strong><i class="fa-solid fa-table-columns"></i> Voltar a Dashboard</strong>
            </a>
          </div>
        </div>
        <div class="column image" data-aos="fade-left">

          {% if guild.icon %}
          <img class=" has-image-centered vert-move item-image is-rounded"
            src="{{ guild.icon.url }}?size=1024"
            alt="{{ guild.name }}"
            style="width: 40rem" />
          {% else %}
          <div class="has-background-grey-lighter has-text-black is-flex is-justify-content-center is-align-items-center has-image-centered vert-move item-image is-rounded"
              style="width: 20rem; height: 20rem; line-height: 20rem; font-size: 2rem; font-weight: bold; border-radius: 50%">
            {{ guild.name[0] }}
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  <div class="has-text-centered" data-tippy-content="Scroll Down">
    <a href="#configsserver"
      ><i
        class="fa-solid fa-circle-chevron-down fa-lg vert-move2 blurple"
      ></i
    ></a>
  </div>
</section>
<!-- Hero Section End -->








<!-- Hero Waves Start -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#4b4b4a"
    fill-opacity="1"
    d="M0,288L24,261.3C48,235,96,181,144,154.7C192,128,240,128,288,149.3C336,171,384,213,432,202.7C480,192,528,128,576,133.3C624,139,672,213,720,213.3C768,213,816,139,864,101.3C912,64,960,64,1008,106.7C1056,149,1104,235,1152,240C1200,245,1248,171,1296,144C1344,117,1392,139,1416,149.3L1440,160L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"
  ></path>
</svg>
<!-- Hero Waves End -->



<!-- CONTEÚDO -->
<section id="configsserver" class="section mt-6">
  <div class="has-text-centered">
    <h1 class="title lined">Configurações do seu servidor</h1>
    <div class="line line-center blurple"></div>
  </div>
  




<!-- Layout com menu lateral -->
<section class="section">
  <div class="container">
    <div class="columns">

      <!-- Menu lateral -->
      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">Configurações</p>
          <ul class="menu-list">
            <li><a href="#aniversario" data-target="aniversario" class="menu-link is-active">Aniversário</a></li>
            <li><a href="#autophox" data-target="autophox" class="menu-link">Autophox</a></li>
            <li><a href="#boasvindas" data-target="boasvindas" class="menu-link">Boas-vindas</a></li>
            <li><a href="#bump" data-target="bump" class="menu-link">Mensagem de Bump</a></li>
            <li><a href="#lojacores" data-target="lojacores" class="menu-link">Loja de Cores</a></li>
            <li><a href="#pokeday" data-target="pokeday" class="menu-link">Pokéday</a></li>
            <li><a href="#trocas-poke" data-target="trocas-poke" class="menu-link">Trocas Pokémon</a></li>
            <li><a href="#seguranca" data-target="seguranca" class="menu-link">Brix Segurança</a></li>

          </ul>
        </aside>
      </div>

      <!-- Painel de configuração -->
      <div class="column">
        <form method="POST" action="/dashboard/save-guild?guild={{ guild.id }}">
          <input type="hidden" name="guild_id" value="{{ guild.id }}">
          <input type="hidden" id="lista-itens-loja-html" name="lista-itens-loja-html">

          <div id="aniversario" class="box config-section is-active">
            <h3 class="title is-4">🎂 - Notificações de Aniversário</h3>
            <p class="subtitle is-size-6">Notifique em sua comunidade sempre que tiver um aniversariante no servidor (posta as 8h da manhã).</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_aniversario" {% if retbanco.aniversario%}checked{% endif %}>
              Ativar Modulo de Aniversário
            </label>
            <p class="help">Ative para validar as configurações.</p>
          </div>
          

          <div class="field">
            <label class="label">Canal de Notificação</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="canal_aniversario">
                  {% for canal in text_channels %}
                    <option value="{{ canal.id }}" {% if retbanco.aniversario and retbanco.aniversario.canal == canal.id %}selected{% endif %} >#{{ canal.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Selecione um canal para onde será postado o aviso.</p>
          </div>

          <div class="field">
            <label class="label">Cargo a ser mencionado</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="cargo_ping_aniversario">
                  {% for cargo in guild.roles %}
                    <option value="{{ cargo.id }}" {% if retbanco.aniversario and retbanco.aniversario.cargo == cargo.id %}selected{% endif %} >{{ cargo.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Indique um cargo para pingar sobre o aviso.</p>
          </div>

          <div class="field">
            <label class="label">Cargo Temporário</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="cargo_temp_aniversario">
                  <option value="">Nenhum</option>
                  {% for cargo in guild.roles %}
                    <option value="{{ cargo.id }}" {% if retbanco.aniversario and retbanco.aniversario.destaque == cargo.id %}selected{% endif %}  >{{ cargo.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Indique um cargo para ser entregue aos aniversariantes no dia (temporario 24h).</p>
          </div>
        </div>

        <div id="boasvindas" class="box config-section">
            <h3 class="title is-4">👋 - Mensagem de Boas-vindas</h3>
            <p class="subtitle is-size-6">Mensagem que dá as boas vindas aos novos membros.</p>

            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="ativar_boasvindas" {% if retbanco.boasvindas%}checked{% endif %} >
                Ativar Modulo de boas vindas
              </label>
              <p class="help">Ative para validar as configurações.</p>
            </div>

          <div class="field">
            <label class="label">Canal</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="canal_boasvindas">
                  {% for canal in text_channels %}
                    <option value="{{ canal.id }}" {% if retbanco.boasvindas and retbanco.boasvindas.canal == canal.id %}selected{% endif %}  >#{{ canal.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Canal onde a mensagem deve ser enviada.</p>
          </div>

          <div class="field">
            <label class="label">Mensagem</label>
            <div class="control">
              <textarea class="textarea" name="mensagem_boasvindas">{{ retbanco["boasvindas"]["mensagem"] if "boasvindas" in retbanco and "mensagem" in retbanco["boasvindas"] else "" }}</textarea>
            </div>
            <p class="help">Escreva como deseja que a mensagem seja, Variaveis disponiveis: @user , guild , guildsize, userid.</p>
          </div>

          <div class="field">
            <label class="label">Deletar após (segundos)</label>
            <div class="control">
              <input type="number" class="input" name="boasvindas_deletar" value="{{ retbanco.get('boasvindas', {}).get('deletar', 0) }}"  min="0">
            </div>
            <p class="help">deletar mensagem em quantos segundos?, passe 0 para não deletar</p>
          </div>
        </div>

        <div id="autophox" class="box config-section">
            <h3 class="title is-4">🦊 - Autophox</h3>
            <p class="subtitle is-size-6">Receba a cada hora uma arte diferente de Braixen Fennekin ou Delphox.</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_autophox" {% if retbanco.autophox%}checked{% endif %}>
                Ativar Modulo de Autophox
            </label>
              <p class="help">Ative para validar as configurações.</p>
          </div>

          <div class="field">
            <label class="label">Canal Autophox</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="canal_autophox">
                  {% for canal in text_channels %}
                    <option value="{{ canal.id }}" {% if retbanco.autophox and retbanco.autophox == canal.id %}selected{% endif %} >#{{ canal.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Selecione um canal onde será postado as imagens.</p>
          </div>
        </div>
        

        <div id="lojacores" class="box config-section">
          <h3 class="title is-4">🎨 - Loja de Cores</h3>
          <p class="subtitle is-size-6">Permite que os usuários comprem cores personalizadas com cargo e arte.</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_loja_cores" {% if retbanco.itensloja %}checked{% endif %}>
              Ativar Módulo de loja de cores
            </label>
            <p class="help">Ative para validar as configurações.</p>
          </div>

          <div class="field is-flex is-align-items-center">
            <div class="control mr-4">
              <label class="label">URL da arte da loja</label>
              <input class="input" style="max-width: 400px;" id="url_arte_loja" type="text" name="link_arte_loja"
                    placeholder="https://exemplo.com/imagem.png"
                    value="{{ retbanco.get('lojabanner', '') }}"
                    oninput="document.getElementById('preview_arte_loja').src = this.value">
              <p class="help">Imagem para loja de cores, se não passar nada usará do sistema.</p>
            </div>
            <figure class="mt-2" style="max-width: 200px;">
              <img id="preview_arte_loja" src="{{ retbanco.get('lojabanner', '/assets/img/cores.png') }}" alt="Arte da loja" style="width: 100%;">
            </figure>
          </div>

          <div class="field">
            <label class="label">Adicionar item à loja</label>
            <div class="is-flex">
              <div class="select mr-2">
                <select id="select_cargo_loja">
                  {% for cargo in guild.roles if cargo.color.value != 0 %}
                    <option value="{{ cargo.id }}" data-cor="#{{ '%06x' % cargo.color.value }}">{{ cargo.name }}</option>
                  {% endfor %}
                </select>

              </div>
              <input class="input mr-2" type="number" id="valor_cargo_loja" placeholder="Valor em Braixencoin">
              <button class="button is-primary" onclick="adicionarItemLoja(event)" id="btn_add_loja" type="button">Adicionar</button>
            </div>
            <p class="help">Cadastre um novo item com cargo e valor (máx. 25).</p>
          </div>

          <div class="field">
            <label class="label">Itens já cadastrados</label>
            <div class="box" id="lista-itens-loja">
              {% if retbanco.itensloja %}
                {% for cargo_id, valor in retbanco.itensloja.items() %}
                  {% set cargo = guild.roles | selectattr("id", "equalto", cargo_id | int) | list | first %}
                  {% set nome = cargo.name if cargo else 'Cargo desconhecido' %}
                  {% set cor = cargo.color if cargo else '#000000' %}
                  <div class="is-flex is-justify-content-space-between is-align-items-center mb-2" data-id="{{ cargo_id }}">
                    <span class="is-flex is-align-items-center">
                      
                      <span class="color-dot" style="background-color: {{ cor }}; width: 12px; height: 12px; border-radius: 50%; display: inline-block; margin-right: 6px;"></span>
                      <strong>{{ nome }}</strong>
                      — 
                      <img src="/assets/img/icon_braixencoin.png" style="height: 1em; vertical-align: middle; margin: 0 4px;">
                      {{ valor }}
                    </span>
                    <button class="button is-small is-danger" onclick="removerItemLoja(this)">Remover</button>
                  </div>
                {% endfor %}
              {% else %}
                <p id="msg-sem-itens">Nenhum item cadastrado.</p>
              {% endif %}
            </div>
            <p class="help">Itens atualmente disponíveis na loja.</p>
          </div>

        </div>











        <div id="pokeday" class="box config-section">
          <h3 class="title is-4">📅 - Pokéday</h3>
          <p class="subtitle is-size-6">Ativa notificações especiais e bônus no dia do Pokémon.</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_pokeday" {% if retbanco.pokeday%}checked{% endif %} >
              Ativar Modulo de Pokéday
            </label>
              <p class="help">Ative para validar as configurações.</p>
          </div>

          <div class="field">
            <label class="label">Canal para mensagens do Pokéday</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="canal_pokeday">
                  {% for canal in text_channels %}
                    <option value="{{ canal.id }}" {% if retbanco.pokeday and retbanco.pokeday.canal == canal.id %}selected{% endif %} >#{{ canal.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Canal onde as mensagens do Pokéday serão postadas.</p>
          </div>

          <div class="field">
            <label class="label">Cargo (opcional)</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="cargo_pokeday">
                  <option value="">Nenhum</option>
                  {% for cargo in guild.roles %}
                    <option value="{{ cargo.id }}" {% if retbanco.pokeday and retbanco.pokeday.ping == cargo.id %}selected{% endif %} >{{ cargo.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Cargo que será mencionado nas notificações (opcional).</p>
          </div>
        </div>





        <div id="bump" class="box config-section">
            <h3 class="title is-4">📢 - Mensagem de Bump</h3>
            <p class="subtitle is-size-6">Mensagem para notificar quando pode se dar bump no servidor novamente.</p>

            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="ativar_bump" {% if "bump-message" in retbanco %}checked{% endif %} >
                Ativar Modulo de Bump
              </label>
              <p class="help">Ative para validar as configurações.</p>
            </div>

          <div class="field">
            <label class="label">Mensagem personalizada</label>
            <div class="control">
              <textarea class="textarea" name="mensagem_bump">{{ retbanco.get('bump-message', '') }}</textarea>
            </div>
            <p class="help">Defina uma mensagem que será enviada pelo bot na comunidade, pode incluir menção de cargos.</p>
          </div>
        </div>
        












        <div id="trocas-poke" class="box config-section">
          <h3 class="title is-4">🔄 - Trocas Pokémon</h3>
          <p class="subtitle is-size-6">Ativa notificações de novos pedidos de troca de Pokémon.</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_trocas" {% if retbanco.trocas_aviso %}checked{% endif %} >
              Ativar Módulo de Avisos de Trocas
            </label>
            <p class="help">Ative para validar as configurações.</p>
          </div>

          <div class="field">
            <label class="label">Canal para avisos de novas Trocas</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="canal_trocas">
                  {% for canal in text_channels %}
                    <option value="{{ canal.id }}" {% if retbanco.trocas_aviso and retbanco.trocas_aviso.canal == canal.id %}selected{% endif %}>#{{ canal.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Canal onde as mensagens de novos pedidos de troca serão postadas.</p>
          </div>

          <div class="field">
            <label class="label">Cargo (opcional)</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="cargo_trocas">
                  <option value="">Nenhum</option>
                  {% for cargo in guild.roles %}
                    <option value="{{ cargo.id }}" {% if retbanco.trocas_aviso and retbanco.trocas_aviso.cargo == cargo.id %}selected{% endif %}>{{ cargo.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p class="help">Cargo que será mencionado nas notificações (opcional).</p>
          </div>
        </div>







        




        <div id="seguranca" class="box config-section">
          <h3 class="title is-4">🔒 - Segurança do Servidor</h3>
          <p class="subtitle is-size-6">Ative segurança adicional em seu servidor.</p>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="ativar_seguranca" {% if retbanco.seguranca %}checked{% endif %}>
              Ativar Segurança do Servidor
            </label>
            <p class="help">Ative para validar as configurações.</p>
          </div>
          <p class="subtitle is-size-6">Sistema Anti-Alt, para proteger sua comundade de contas recem criadas.</p>
          <div class="field is-grouped">
            <div class="control">
              <label class="label">Tempo mínimo de criação da conta</label>
              {% set tempo_segundos = retbanco.get('seguranca', {}).get('antialt', {}).get('tempo', 0) %}
              {% set tempo_minutos = tempo_segundos // 60 %}
              {% set tempo_horas = tempo_segundos // 3600 %}
              {% set tempo_dias = tempo_segundos // 86400 %}

              <input class="input" type="number" min="0" name="tempo_antialt" 
                    value="{% if tempo_segundos >= 86400 %}{{ tempo_dias }}{% elif tempo_segundos >= 3600 %}{{ tempo_horas }}{% else %}{{ tempo_minutos }}{% endif %}">

              <p class="help">Digite apenas o número.</p>
            </div>
            <div class="control">
              <label class="label">Unidade</label>
              <div class="select">
                <select name="unidade_antialt">
                  <option value="minutos" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('tempo', 0) < 3600 %}selected{% endif %}>Minutos</option>
                  <option value="horas" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('tempo', 0) >= 3600 and retbanco.get('seguranca', {}).get('antialt', {}).get('tempo', 0) < 86400 %}selected{% endif %}>Horas</option>
                  <option value="dias" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('tempo', 0) >= 86400 %}selected{% endif %}>Dias</option>

                </select>
              </div>
              <p class="help">Selecione a unidade de tempo.</p>
            </div>
          </div>

          <div class="field">
            <label class="label">Ação ao detectar uma conta nova oque devo fazer?</label>
            <div class="select">
              <select name="acao_antialt">
                <option value="kick" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('acao', '') == 'kick' %}selected{% endif %}>Kick</option>
                <option value="ban" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('acao', '') == 'ban' %}selected{% endif %}>Ban</option>

              </select>
            </div>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="notificar_antialt" {% if retbanco.get('seguranca', {}).get('antialt', {}).get('notificacao', False) %}checked{% endif %}>
              Enviar aviso em DM ao usuário
            </label>
            <p class="help">O bot tentará avisar o usuário antes de aplicar a punição.</p>
          </div>
        </div>


  




          <div class="field is-grouped is-justify-content-flex-end">
            <div class="control">
              <button class="button is-success" type="submit">
                <i class="fas fa-save mr-2"></i> Salvar configurações
              </button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>

 </div>
  </section>
</main>








<script>
function adicionarItemLoja(event) {
  event.preventDefault(); // impede submit
  
  const select = document.getElementById("select_cargo_loja");
  const inputValor = document.getElementById("valor_cargo_loja");
  const lista = document.getElementById("lista-itens-loja");
  const msgVazio = document.getElementById("msg-sem-itens");
  const cargoId = select.value;
  const cargoNome = select.options[select.selectedIndex].text;
  const valor = inputValor.value;

  if (!valor || valor <= 0) return;
  if (lista.children.length >= 25) return;

  // 🔒 VERIFICA SE JÁ EXISTE CARGO COM ESSE ID
  const jaExiste = [...lista.children].some(div => div.dataset.id === cargoId);
  if (jaExiste) {
    alert("Este cargo já está na loja!");
    return;
  }

  const cor = select.options[select.selectedIndex].getAttribute('data-cor') || '#000000';

  const itemDiv = document.createElement("div");
  itemDiv.className = "is-flex is-justify-content-space-between is-align-items-center mb-2";
  itemDiv.setAttribute("data-id", cargoId);
  itemDiv.innerHTML = `
    <span class="is-flex is-align-items-center">
      <span class="color-dot" style="background-color: ${cor}; width: 12px; height: 12px; border-radius: 50%; display: inline-block; margin-right: 6px;"></span>
      <strong>${cargoNome}</strong> — 
      <img src="/assets/img/icon_braixencoin.png" style="height: 1em; vertical-align: middle; margin: 0 4px;">
      ${valor}
    </span>
    <button class="button is-small is-danger" onclick="removerItemLoja(this)">Remover</button>
  `;

  if (msgVazio) msgVazio.remove();
  lista.appendChild(itemDiv);

  inputValor.value = "";
  limitarItensLoja();
}

function removerItemLoja(button) {
  const itemDiv = button.parentElement;
  itemDiv.remove();
  limitarItensLoja();
}

function limitarItensLoja() {
  const lista = document.getElementById("lista-itens-loja");
  const btnAdd = document.getElementById("btn_add_loja");
  btnAdd.disabled = lista.children.length >= 25;
}

 // Função para preencher o campo oculto com os itens da loja
  function preencherItensLoja() {
    const listaItensLoja = document.getElementById("lista-itens-loja");
    const htmlItens = listaItensLoja.innerHTML;  // Obtém o HTML atual da lista de itens
    document.getElementById("lista-itens-loja-html").value = htmlItens;  // Define o valor no campo oculto
  }

  // Adicionar a chamada para preencher os itens da loja antes do submit
  document.querySelector("form").addEventListener("submit", function(event) {
    preencherItensLoja();  // Preenche o campo oculto antes de enviar o formulário
  });

</script>








<script>
document.addEventListener('DOMContentLoaded', () => {
  const links = document.querySelectorAll('.menu-link');
  const sections = document.querySelectorAll('.config-section');

  links.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault(); // não deixa subir a página

      // remove is-active de todos os links e sections
      links.forEach(l => l.classList.remove('is-active'));
      sections.forEach(s => s.classList.remove('is-active'));

      // adiciona is-active no clicado e na seção correspondente
      link.classList.add('is-active');
      const target = document.getElementById(link.dataset.target);
      if(target) target.classList.add('is-active');
    });
  });
});
</script>










<script>
  // Script do dropdown do menu do usuario
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("user-dropdown-toggle");
    const menu = document.getElementById("user-dropdown-menu");

    // Sempre começa fechado, forçando o estilo
    menu.style.display = "none";

    toggle.addEventListener("click", function (e) {
      e.preventDefault();
      menu.style.display = (menu.style.display === "none") ? "block" : "none";
    });

    document.addEventListener("click", function (e) {
      if (!toggle.contains(e.target) && !menu.contains(e.target)) {
        menu.style.display = "none";
      }
    });
  });
</script>








<!-- Footer Section Start -->
<footer class="footer bg-base">
  <div class="content has-text-centered has-text-white">
    <div class="mb-2">
      <a href="https://dsc.gg/braixen" class="has-text-white" target="_blank">
        <i class="fa-brands fa-discord"></i>
      </a>
      &nbsp; &nbsp;
      <a href="https://top.gg/bot/983000989894336592" class="has-text-white" target="_blank">
        <i class="fa-solid fa-check-to-slot"></i>
      </a>
      &nbsp; &nbsp;
      <a href="https://github.com/O-Braixen/Brix" class="has-text-white" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <p>
      <span class="has-text-weight-bold">Brix The Braixen</span></span>
      <br />
      &copy; <span id="cp-year"></span> Copyright OBraixen. Todos os direitos reservados.
    </p>

    <p style="letter-spacing: 0.1em;" class="is-uppercase">
      Website Designed By
      <a
        href="https://jstnlt.my.id"
        class="blurple has-text-weight-bold"
        target="_blank"
        >JstnLT</a
      >.<br>The Original Website Design is Open Source on <a
        href="https://github.com/JastinXyz/discord-bot-landing-page-web"
        class="blurple has-text-weight-bold"
        target="_blank"
        >Github</a
      >
    </p>
  </div>
</footer>
<!-- Footer Section End -->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
